
*{margin:0;padding:0;box-sizing:border-box;}
main{
     min-height:100vh; 
     background:linear-gradient(to right top,#65dfc9,#6cdbeb);
     display:flex;
     align-items:center;
     justify-content:center;

     font-family: 'Poppins', sans-serif;

     }

h1{
     color:#426696; font-weight:500;
     font-size:1.10rem;opacity:0.8;
}


h2{
     color:#426696; font-weight:400;
     font-size:.90rem;opacity:0.8;
}


h3{
     color:#426696; font-weight:300;
     font-size:.50rem;opacity:0.8;
}

.glass{
     display:flex;
     background:white;
     min-height:80vh;
     width:60%;
     background: linear-gradient(to right bottom, rgba(225,225,225,0.7), rgba(225,225,225,0.3));
     border-radius:2rem;
     z-index:2;
     backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2rem);
    }

    .circle1,
    .circle2{
         background:linear-gradient(to right bottom, rgba(225,225,225,0.8), rgba(225,225,225,0.3));
         height:20rem;
         width:20rem;
         position:absolute;
         border-radius:50%;
         }
         .circle1{top:5%; right:15%;
}

         .circle2{bottom:5%; left:10%;}


.dashboard{
           flex:1;
           display:flex;
           flex-direction:column;
           align-items:center;
            justify-content:space-evenly;
            text-align:center;
         background: linear-gradient(to right bottom, rgba(225,225,225,0.7), rgba(225,225,225,0.3));
     border-radius:2rem;

           }


   .games{flex:2;}
.link{
     display:flex;
     padding:1rem 2rem;
     margin:2rem 0rem;
     align-items:center;

}
.pro{
     background:linear-gradient(to right top,#65dfc9,#6cdbeb);
border-radius:2rem;
color:white;
padding:3rem;


}
/*games*/
status{
     margin-bottom:3rem;
}
.status input{
              background: linear-gradient(to right bottom, rgba(225,225,225,0.7), rgba(225,225,225,0.3));
              border:none;
              width:50%;
              padding:.6rem;
              border-radius:3rem;

}
.games{
     display:flex;
     flex-direction:column;
    justify-content:space-evenly;
    margin:2rem;
    border-radius:2rem;
   }
   .card{
        display:flex;
       background: linear-gradient(to left top, rgba(225,225,225,.9), rgba(225,225,225,0.5));
       margin:2rem 0rem;
       border-radius:1rem; 
       padding:1rem;
       box-shadow:6px 6px 20px rgba(122,122,122,0.2);

}
.progress{background:linear-gradient(to right top,#65dfc9,#6cdbeb);
width:100%; 
height:25%;
 border-radius:1rem;
 position:relative;
}
.progress::after{
     content:"";
     width:100%;
     height:100%;
     background:rgba(236,236,236);
     position:absolute;
     left:60%;
}
.img{ margin-right:2rem; border-radius:50% 50%; background-size:cover; width:15%; height:10%;}
.percentage{
     font-weight:bold;
     background:linear-gradient(to right top,#65dfc9,#6cdbeb);
-webkit-background-clip:text;
-webkit-text-flip-color:transparent;

}